:root {
    --bulma-body-background-color: #ffb2ed;
    --bulma-body-family: "Zen Maru Gothic", serif, black;
    --bulma-body-color: black;
    /* font-style:normal; */
    /* --bulma-title-color: rgb(189, 51, 51); */
}

.column {
    display: flex;
    flex-direction: row;
}

.center, .center-column, .top, .right, .bottom, .left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-column {
    flex-direction: column;
}

.butt {
    display: grid;
    grid-template-columns: auto;
    background-color: pink;
}

.top    { align-items:      flex-start; }
.right  { justify-content:  flex-end;   }
.bottom { align-items:      flex-end;   }

.left   {
    flex-direction: column;
    justify-content:  flex-start;
    align-items:  flex-start;
}

.single-spaced, .single-spaced * {
    line-height: 1;
}

.js-modal-trigger{
    /* overflow: hidden; */
    opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.js-modal-trigger:hover{
    -webkit-filter: brightness(80%);
	-moz-filter: brightness(80%);
	-o-filter: brightness(80%);
	-ms-filter: brightness(80%);
	filter: brightness(80%);
    opacity: 0.5;
}

/* .title{
    -webkit-transition: .1s ease-in-out;
	transition: .1s ease-in-out;
}

.title:hover{
    color: white;
} */

.modal-button{
    border-color: black;
    border-radius: 20px;
    border: 3px solid;
    -webkit-transition: .1s ease-in-out;
	transition: .1s ease-in-out;
    overflow: hidden;
    height: auto;
    width: 600px;
}

.modal-button:hover{
    /* border: 2px solid #dadada;
    border-radius: 7px; */
    transform: scale(1.02);
    background-color: #ffffff;
    border-color: white;
}

.img--modal-button
{
    transform: scale(1.5);
}

@media (max-width: 1024px) {
    .desktop {
        display: none;
    }
}

@media (min-width: 1025px) {
    .mobile {
        display: none;
    }
}