@charset "utf-8";

#header {
	/*background-color: rgba(0,0,0,0.68);*/
}

#header img {
	float: left;
	top: 50px;
	left: 5%;
	position: relative;
	display: block;
	height: 256px;
	width: 256px;
	z-index: 1;
}

.vertical-menu {
	display: default;
	position: relative;
	float: right;
	right: 10%;
	top: 40px;
	color: white;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	text-align: left;
	z-index: 1;
}

.vertical-menu a {
	display: block;
  	color: rgba(29,29,29,1.00);
	text-align: right;
  	padding: 14px 16px;
  	text-decoration: none;
	font-size: 28px;
}

.vertical-menu a:hover {
	color: white;
}

#about {
	display: none;
    position: relative;
    top: 0px;
	background-color: rgba(54,211,57,1.00);
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

@media (max-width:600px){
	
	#header img {
		top: 10px;
		width: 40%;
		height: auto;
	}
	
	#header h1 {
		display: none;
	}
	
	.vertical-menu {
		top: 5px;
	}
	.vertical-menu a {
		font-size: 100%;
		line-height: 20px;
	}
}
