:root {
    --bg: var(--bulma-body-background-color);
    --hover-color: rgb(0, 204, 255);
    --primary-content-color: #ebecf0;
    --secondary-content-color: #abb1bf;
    --bulma-strong-color: var(--primary-content-color); 
}

body {
    background-color: var(--bg);
}

html
body {
    height: 100%;
}

.title {
    color: var(--primary-content-color);
}

@media screen and (max-width: 1023px) {
    .navbar-menu {
        background-color: #14161a;
    }
}

.box {
    background-color: #14161a;
}