:root {
    --primary-content-color: #ebecf0;
    --secondary-content-color: #abb1bf;
    --bulma-strong-color: var(--primary-content-color); 
}

.title {
    color: var(--primary-content-color);
}

.navbar {
      background: transparent;
      position: absolute;
      width: 100%;
      top: 0;
}

.navbar-item {
    background-color: transparent !important;
    color: white;
}

.navbar-item:hover {
    background-color: transparent !important;
    color: white;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}


@media screen and (max-width: 1023px) {
    .navbar-menu {
        background-color: #14161a;
    }
}

.box {
    background-color: #14161a;
}